body {
    width: 60%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
h1, h2 {
    line-height: 1.2em;
    padding: 0.5em;
}
.styledTable {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;

    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;

    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;

    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}.styledTable table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.styledTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.styledTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.styledTable table tr:first-child td:last-child {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}.styledTable tr:last-child td:first-child{
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}.styledTable tr:hover td{

}
.styledTable tr:nth-child(odd){ background-color:#ffaa56; }
.styledTable tr:nth-child(even)    { background-color:#ffffff; }.styledTable td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:8px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.styledTable tr:last-child td{
    border-width:0px 1px 0px 0px;
}.styledTable tr td:last-child{
    border-width:0px 0px 1px 0px;
}.styledTable tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.styledTable tr:first-child td{
    border-width:2px 0px 1px 1px;
}
.styledTable tr:first-child td:first-child{
    border-width:2px 0px 1px 0px;
}
.styledTable tr:first-child td:last-child{
    border-width:2px 0px 1px 1px;
}
.extract {
    font-weight: bold !important;
    text-decoration: underline;
}